.awesome-input-number {
  display: flex;
  position: relative;
  width: 100px;
  height: 40px;
  background-color: rgba(var(--color-primary));
  overflow: hidden;
  border-radius: 20px;
  margin: 2px;
}

.awesome-input-number span {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  display: inline-block;
  background-color: white;
  height: 100%;
  width: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #6c6dff;
  letter-spacing: -1px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.awesome-input-number button {
  display: inline-block;
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: #6c6dff;
  transition: background-color 0.2s ease;
}

.awesome-input-number button:nth-of-type(1) {
  padding-right: 20px;
}

.awesome-input-number button:nth-of-type(2) {
  padding-left: 20px;
}

.awesome-input-number button:hover {
  background-color: #5454c4;
}
